.MaintenancePage {

    background-color: black;
    height: 100vh;
    width: 100vw;

    &_Content {
        
        display: grid;
        grid-auto-flow: row;
        justify-items: center;
        justify-self: center;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;

        &_Headline {
    
            justify-self: center;
            font-size: 70px;
        }

        &_SubText {
            font-size: 40px;
        }

        &_Meantime {
            font-size: 36px;
            margin-top: 16px;
        }

        &_FunFact {
            font-size: 30px;
        }
    }

}